#root {
  font-family: 'Fira Sans';
  width: 100%;
}

.big-font {
  font-family: Quicksand, sans-serif;
}

#brand {
  font-size: xx-large;
}
/* .slick-slider {
  position: relative;
  height: 100vh;
  background-color: red;
} */

.slick-slide {
  /* height: 70vh; */
  width: 100%;
}
.slick-slide > div > div {
  position: relative;
  /* height: 70vh; */
}

.slick-slide img {
  height: 70vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.slick-btn {
  padding: 10px;
  border: none;
  background-color: white;
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}

.slick-btn:hover {
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  color: #000;
}

.info-container {
  height: auto;
  width: 100%;
  padding: 1%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow-previous {
  position: relative;
  height: 100%;
  order: 1;
}

.slider-arrow-next {
  position: relative;
  height: 100%;
  order: 3;
}

.arrow-btn:hover {
  cursor: pointer;
}

.slick-text {
  order: 2;
}

.product-img {
  height: 100%;
  width: 100%;
}

.product-link,
.product-link:focus,
.product-link:hover,
.product-link:link {
  color: #000;
  text-decoration: none;
}

.btn {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: none !important;
  margin-top: 5rem;
}

.custom-btn {
  background-color: #000;
  color: #fff;
  border-radius: 3%;
  padding: 2%;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: 1.5px solid #000;
}

.custom-btn:hover {
  outline: none;
  text-decoration: none;
  /* transform: translateY(-7px); */
  color: #000;
  background-color: #fff;
  box-shadow: none;
  border: 1.5px solid #000;
  border-radius: none !important;
}

#deal-container {
  height: 20vh !important;
}

.container-slick div {
  height: inherit;
}

.custom-btn-2 {
  background-color: #ffa500;
  color: #fff;
  border-radius: 3%;
  padding: 2%;
  box-shadow: 0 0 4px 4px rgba(255, 165, 0, 0.15);
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: 1.5px solid #ffa500;
}

.custom-btn-2:hover {
  outline: none;
  text-decoration: none;
  /* transform: translateY(-7px); */
  color: #ffa500;
  background-color: #fff;
  box-shadow: none;
  border: 1.5px solid #ffa500;
  border-radius: none !important;
}

.arrow {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: white;
  height: 2rem;
  width: 2rem;
}

.arrow:active,
.arrow:focus {
  outline: none;
}
